---
import seo from "./../common/seo";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<title>{title} - Fan Control</title>
<meta name="description" content={seo.description} />
<meta name="image" content={seo.image} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={seo.title} />
<meta name="twitter:url" content={seo.siteUrl} />
<meta name="twitter:description" content={seo.description} />
<meta name="twitter:image" content={seo.image} />
<meta name="twitter:creator" content={seo.twitterUsername} />
